# Игнорировать все файлы в директории node_modules
node_modules/

# Игнорировать файлы с личными настройками IDE
.idea/
*.code-workspace
.vscode/

# Игнорировать временные файлы и логи
*.log
*.tmp
*.temp

# Игнорировать определённые конфигурационные файлы
.env
*.config.js

# Но не игнорировать этот конфигурационный файл
!default.config.js

# Игнорировать все .txt файлы в директории doc, но не в поддиректориях
/doc/*.txt

# Не игнорировать определённый txt файл
!/doc/keep-this.txt

# Игнорировать файлы с определёнными паттернами
*~
*.swp
